<button class="root-button" (click)="addRootNode()">Add folder to root</button>
<app-node [nodes]="nodes" [isRoot]="true"></app-node>

<!--<div class="row flex">
  <div class="v-line inline"><img src="../assets/images/v-line-branch.svg" class="line" alt=""></div>
  <div class="icon inline"><img src="assets/images/file.svg" class="icon" alt="file"></div>
  <div class="icon inline"><img src="assets/images/folder.svg" class="icon" alt="folder"></div>
    <div class="content inline">
  </div>
</div>
-->
